# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm

# BibTeX / Biber
*.bbl
*.bcf
*.blg
*.run.xml

# Index / glossaries / misc
*.idx
*.ilg
*.ind
*.glo
*.glg
*.gls
*.ist
*.acn
*.acr
*.alg
*.glsdefs
*.lox

# Optional: ignore compiled PDFs
# Remove these lines if you WANT to version the final PDF
*.pdf
